* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.pdf binary
*.woff binary
*.woff2 binary
*.ttf binary
.obsidian/plugins/*/main.js -text
.obsidian/plugins/*/styles.css -text
.obsidian/plugins/*/manifest.json -text
.obsidian/themes/** -text
